<div class="search-group">
    <form action="{{site.url}}/search.html">
        <div class="tipue_search_group search-group">
            <input
                    type="text" name="q" id="tipue_search_input" pattern=".{3,}"
                    title="At least 3 characters"
                    placeholder="Search..."
                    required>
    <!--        <button type="submit" class="tipue_search_button">-->
    <!--            <div class="tipue_search_icon">&#9906;</div>-->
    <!--        </button>-->
        </div>
    </form>
</div>